<!DOCTYPE html>
<html>
<head>
    <title>博客录入</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/commentadd.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/login.js"></script>
</head>
<body> 
<form class="login" method="post" action="/commentadd">
    <p class="loginTitle" style="color:#0080FF">博客录入</p>
    <div class="content">
        <p>
            <input type="text" name="user" id="username">
        </p>
        <p>
            <textarea name="content" id="content"></textarea>
        </p>
        <p>
            <input type="submit" value="录入" class="but" >
        </p>
    </div>
    
</form>
</body>
</html>