<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/register.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <!-- <script type="text/javascript" src="./js/login.js"></script> -->
</head>
<body> 
<form class="login" method="post" action="/login">
    <p class="loginTitle" style="color:#0080FF">登录</p>
    <p>
        <input type="text" name="username" id="username" placeholder="请输入用户名">
    </p>
    <p>
        <input type="password" name="password" id="password" placeholder="请输入密码">
    </p>
    <p>
        <input type="submit" value="登录" class="but" >
    </p>
</form>
</body>
</html>