<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/register.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</head>
<body>
<div class="register">
    <p class="regisTitle">用户注册</p>
    <p class="user">
        <input type="text" name="username" id="username" placeholder="请输入用户名">
    </p>
    <p class="password">
        <input type="password" name="password" id="password" placeholder="请输入密码">
    </p>
    <p class="repass">
        <input type="password" name="repass" id="repass" placeholder="请再次输入密码">
    </p>
    <p>
        <input type="submit" value="注册" class="but">
        <a href="/login">登录</a>
    </p>
</div>
</body>
</html>