<!DOCTYPE html>
<html>
<head>
    <title>后台主页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</head>
<body>
<div class="indexPage">
    <div class="topSection">
        <span>server</span>
        <div class="regisAndLogin">
            <a href="/register">注册</a>
            <a href="/serverlogin">登录</a>
        </div>
    </div>
    <img src="./images/server_img.jpg"">
</div>
</body>
</html>