.register{
    width: 500px;
    height: 600px;
    margin: 0 auto;
    font-family: '微软雅黑';
    font-size: 22px;
    letter-spacing: 5px;
    /*background: url('../images/regist_bg.jpg') no-repeat;*/
    border-top:1px solid darkblue;

}
.regisTitle{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #0080FF;
    text-align: center;
}
.user,.password,.repass{
    text-align: center;
}
p input{
    width: 300px;
    height: 30px;
}

.but{
    width: 60px;
    height: 40px;
    border: none;
    margin-left: 100px;
    background-color: #0080FF;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 5px;
}